<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557585606124-ehjha983ojvtt00lc3ttipsrc71n2420.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557585606124-ehjha983ojvtt00lc3ttipsrc71n2420</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>557585606124-98ua81iloabdiup1sqd2v7tdbmdth3d9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGsyFd_QO3BTaOhQq9w1sBVaSXV7p9hJI</string>
	<key>GCM_SENDER_ID</key>
	<string>557585606124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.naatomeals</string>
	<key>PROJECT_ID</key>
	<string>naatomeals</string>
	<key>STORAGE_BUCKET</key>
	<string>naatomeals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557585606124:ios:5139bb64a7a4175b5f4cc9</string>
</dict>
</plist>